.idea/
**/.idea/
*.iml

.vscode/
**/.vscode/

.DS_Store
Thumbs.db

frontend/earthquake_frontend/node_modules/
frontend/earthquake_frontend/dist/
frontend/earthquake_frontend/.env
frontend/earthquake_frontend/.env.*
frontend/earthquake_frontend/.cache/

frontend/earthquake_frontend/npm-debug.log*
frontend/earthquake_frontend/yarn-debug.log*
frontend/earthquake_frontend/yarn-error.log*
frontend/earthquake_frontend/pnpm-debug.log*

backend/earthquake_backend/target/
backend/earthquake_backend/*.log

backend/earthquake_backend/.env
backend/earthquake_backend/.env.*
backend/earthquake_backend/application-local.properties
backend/earthquake_backend/application-secret.properties

*.log